/* home page*/

@media screen and (max-width: 1250px){

}
@media only screen and (max-width:998px) {

    .find{

        display: none;
    }

    .gallery {
        width: 70rem;

    }

    #thingsimg{

        float:left;
        margin-left: 12rem;
        margin-bottom: 3rem;


    }

    .things h1{
        margin-left: 10rem;
    }


    .things h2{

        margin-left: 10rem;

    }

    .choose img{

        width: 10rem;
        display: inline-flex;
        margin-left: 4rem;
        gap: .5rem;

    }
    .choose h2{

        display: inline-flex;
        gap: .5rem;
        margin-left: .5rem;
    }

    .card_line{

        display:inline;

    }
    .top button{

        margin-left: 20rem;
    }

    .popular button{

        margin-left: 20rem;
    }
    .specialButton{

        margin-left: 30rem;
    }

    .cards1{

        float:left;
        margin-left: 15rem;
    }

    .cards2{

        float:left;
        margin-left: 15rem;
    }
    .beautiful{
        display: inline-flex;
        margin-left: 3rem;
        gap: 6rem;
    }

}


@media screen and (min-width: 600px){

}
