
html{
    font-size: 62.5%;
}
/* nav bar */
body{
    margin: 0%;
    padding:0%;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: linear-gradient( to right, #4e192a,#053286);
    position: fixed;
    width: 100%;
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 400px;
    display: flex;
}
.content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    color: #23dbdb;
}
.wrapper .search-icon,
.wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
}
.wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: linear-gradient( to right, #4e192a,#053286);
    padding: 0 100px 0 15px;
}

.search-box input::placeholder{
    color: #f2f2f2;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background:#063181;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.wrapper input[type="checkbox"]{
    display: none;
}
/* Dropdown Menu code start */
.content .links ul{
    position: absolute;
    background: linear-gradient( to right, #4e192a,#053286);
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1400px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    .content .logo a{
        color: #fff;
        margin-left: 50px;
        font-size: 30px;
        font-weight: 600;
    }
    nav .content .links{
        margin-left: 400px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
        padding: 0 100px 0 15px;
    }
}
@media only screen and (min-width: 901px ) and (max-width: 1000px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    .content .logo a{
        color: #fff;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    nav .content .links{
        margin-left: 50px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
        padding: 0 100px 0 15px;
    }
}
@media screen and (max-width: 900px){
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background: linear-gradient( to right, #4e192a,#053286);
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}
@media screen and (max-width: 400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input{
        padding-right: 30px;
    }
}
.dummy-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.dummy-text h2{
    font-size: 45px;
    margin: 5px 0;
}
#videoBG{
    width: 100%;
    height: 40%;
}

.front_vedio1{

    width: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    object-fit: fill;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}
.front_vedio1 vedio{
    position: relative;
    width:cover;
    height: 100%;
    overflow: hidden;
    object-fit: fill;


}
/* search filter start */

.find{

    background: linear-gradient( to right, #4e192a8a,#05328683);
    height: auto;
    width: 82%;
    margin-left: 12.2rem;
    border-radius: .5rem;
}

.find h1{

    color:black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;

}
.search_container{
    display: flex;
    flex-wrap: wrap;
}

.search_container button{
    margin-left: 3rem;
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 5rem;
    border: none;
    background: linear-gradient( to right, #4e192a,#053286);
    color:white;

}
.search_container button:hover{
    background:#441c29 ;
    color:#23dbdb ;

}
.search_content{
    width:18rem;
    height: 4rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    background: white;


}
.search_content input{
    border: none;
    color:rgb(163, 156, 156);
    padding-left: 1rem;

}

.search_content label{
    padding-left: 1rem;
    padding-top: 1rem;
    color: #000;
    font: bold;
    font-size: 1.5rem;
}





.back{
    background-image: url("picture/image\ 2.png");
    height:auto;
}

.things h1{

    margin-top: 8rem;
    margin-left: 7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    font: bold;
}

#thingText{
    display:none;
}

.things h2{

    margin-left: 7rem;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color:rgb(104, 96, 96);

}



#thingsimg{

    float: right;
    margin-right: 7rem;
    margin-top: 2rem;
    height: 50rem;
    width: 50rem;

}
.things button{

    margin-left: 25rem;
    height: 5rem;
    width: 20rem;
    font-size: 2rem;
    color: white;
    background: linear-gradient( to right, #4e192a,#053286);
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-top: 4rem;
}

.top h1{

    color: rgb(14, 160, 218);

    text-align: center;
    margin-top: 10rem;
    margin-left: 35rem;
    padding-top: .5rem;
    height: 5rem;
    width: 70rem;
    box-shadow: .1rem .2rem .4rem .2rem rgb(199, 195, 195);
    background: rgba(231, 233, 230, 0);
    border-radius: 1rem;
    font: bold;
    font-size: 3.5rem;
}
.top img{

    display: inline;
}
.top button{

    margin-left: 53rem;
    height: 5rem;
    width: 30rem;
    font-size: 2rem;
    color: white;
    background: linear-gradient( to right, #4e192a,#053286);
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-top: 4rem;
}
.card1{

    background:url("picture/image 8.png");
    height: 30rem;
    width: 43.8rem;
    margin-left: 8rem;
    margin-right: 12rem;
    margin-top: 8rem;
    color: white;
    padding-left: 3rem;
    font-size: 2rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;
    float: right;

}
.card1 h2{

    font-size: 3rem;
    margin-left: 3rem;
    padding-top: 1rem;
}


.card2{

    background:url("picture/image 10.png");
    height: 30rem;
    width: 43.8rem;
    margin-left: 12rem;
    margin-top: 8rem;
    color: white;
    padding-left: 3rem;
    font-size: 2rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;

}

.card2 h2{

    font-size: 30px;
    padding-top: 100px;
    padding-left: 30px;
}


.card3{

    background:url("picture/image 9.png");
    height: 30rem;
    width: 43.8rem;
    margin-left: 45rem;
    margin-top: 8rem;
    color: white;
    padding-left: 3rem;
    font-size: 2rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;

}

.card3 h2{

    font-size: 3rem;
    padding-top: .5rem;

}
.services{

    padding-bottom: 4rem;

}


.service h1{

    color: rgb(14, 160, 218);

    text-align: center;
    margin-top: 10rem;
    margin-left: 50rem;
    height: 5rem;
    width: 40rem;
    box-shadow: .1rem .2rem .4rem .2rem rgb(199, 195, 195);
    background: rgba(231, 233, 230, 0);
    border-radius: 1rem;
    font: bold;
    font-size: 3.5rem;
    padding-top: .3rem;
}


.choose h1{

    color: rgb(14, 160, 218);
    text-align: center;
    margin-top: 10rem;
    margin-left: 50rem;
    height: 5rem;
    width: 40rem;
    box-shadow: .1rem .2rem .4rem .2rem rgb(199, 195, 195);
    background: rgba(231, 233, 230, 0);
    border-radius: 1rem;
    font: bold;
    font-size: 4rem;
}
.choose h3{

    color: rgb(119, 119, 124);
    padding-left: 7rem;
    padding-right: 6rem;
    font-size: 3rem;
}
.choose img{

    margin-left: 20rem;
    margin-right: 10rem;
    display: inline;

}
.choose h2{

    display: inline;
    justify-content: space-between;
    margin-left: 18rem;
}

.intern{

    padding-left: 4rem;
}
.customer{
    padding-left: 7rem;
}

.special h1{

    color: rgb(14, 160, 218);

    text-align: center;
    margin-top: 10rem;
    margin-left: 500px;
    height: 5rem;
    width: 40rem;
    box-shadow: .1rem .2rem .4rem .2rem rgb(199, 195, 195);
    background: rgba(231, 233, 230, 0);
    border-radius: 1rem;
    font: bold;
    font-size: 4rem;



}

.cards1{

    background:url("picture/image 25.png");
    height: 71.1rem;
    width: 50rem;
    margin-right:10rem;
    margin-top: 8rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;
    float:right;


}
.cards1 h2{

    color: rgb(248, 244, 244);
    font-size: 8rem;
    font: bold;
    font-family:cursive;
    padding-top: .5rem;
    padding-left: 15rem;

}

.cards1 h3{

    color: rgb(240, 232, 232);
    font-size: 3rem;
    font-family:cursive;
    padding-top: 8rem;
    padding-left: 10rem;
}
.cards1 h4{

    color: rgb(240, 232, 232);
    font-size: 3rem;
    font-family:cursive;

    padding-left: 10rem;

}

.cards1 button{

    color: white;
    font-size: 1.4rem;
    background: linear-gradient( to right, #4e192a,#053286);
    height: 3rem;
    width: 8rem;
    border-radius: .4rem;
    margin-left: 20rem;

}
.cards2{

    background:url("picture/image 26.png");
    height: 71.1rem;
    width: 50rem;
    margin-left: 10rem;
    margin-top: 8rem;
    color: white;
    padding-left: 3rem;
    font-size: 2rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;


}

.cards2 h2{

    color: rgb(248, 244, 244);
    font-size: 8rem;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: .5rem;
    padding-left: 10rem;

}

.cards2 h3{

    color: rgb(240, 232, 232);
    font-size: 3rem;
    font-family:cursive;
    padding-top: 10rem;
    padding-left: 6rem;
}
.cards2 h4{

    color: rgb(240, 232, 232);
    font-size: 3rem;
    font-family:cursive;

    padding-left: 6rem;

}

.cards2 button{

    color: white;
    font-size: 1.4rem;
    background: linear-gradient( to right, #4e192a,#053286);
    height: 3rem;
    width: 8rem;
    border-radius: .4rem;
    margin-left: 15rem;

}
.specialButton{

    color: white;
    font-size: 2rem;
    background: linear-gradient( to right, #4e192a,#053286);
    height: 4rem;
    width: 20rem;
    border-radius: .6rem;
    margin-left: 58rem;
    margin-top: 4rem;


}

.popular h1{

    color: rgb(14, 160, 218);

    text-align: center;
    margin-top: 10rem;
    margin-left: 35rem;
    height: 5rem;
    width: 65rem;
    box-shadow: .1rem .2rem .4rem .2rem rgb(199, 195, 195);
    background: rgba(231, 233, 230, 0);
    border-radius: 1rem;
    font: bold;
    font-size: 4rem;




}


.popular img{

    display: inline;
}
.popular button{

    margin-left: 53rem;
    height: 5rem;
    width: 30rem;
    font-size: 2rem;
    color: white;
    background: linear-gradient( to right, #4e192a,#053286);
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-top: 4rem;
}
.cardp1{

    background:url("picture/image 22.png");
    height: 30rem;
    width: 43.8rem;
    margin-left: 8rem;
    margin-right: 12rem;
    margin-top: 8rem;
    color: white;
    padding-left: 3rem;
    font-size: 2rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;
    float: right;

}




.cardp2{

    background:url("picture/image 23.png");
    height: 30rem;
    width: 43.8rem;
    margin-left: 12rem;
    margin-top: 8rem;
    color: white;
    padding-left: 3rem;
    font-size: 2rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;

}




.cardp3{

    background:url("picture/image 24.png");
    height: 30rem;
    width: 43.8rem;
    margin-left: 45rem;
    margin-top: 8rem;
    color: white;
    padding-left: 3rem;
    font-size: 2rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(189, 184, 184);
    border-radius: 1rem;

}

.beauty h1{


    color: rgb(14, 160, 218);
    text-align: center;
    margin-top: 10rem;
    padding-bottom: 3rem;
    font: bold;
    font-size: 4rem;

}



/* logo outside footer start*/

.beautiful{
    display: inline-flex;
    margin-left: 25rem;
    margin-top: 5rem;
    gap: 12rem;
}
.beautiful img{
    width: 20rem;
    height: 15rem;
}

/* logo outside footer end*/





/* login form */
*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
}


/* log in and reguster page  start*/


.hero{

    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("picture/nouka.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;

}

.login_form{
    width: 38rem;
    height: 48rem;
    position: relative;
    margin: 5% auto;
    background:#fff;
    padding: .5rem;
    overflow: hidden;
    box-shadow:.1rem .2rem .4rem .2rem rgb(199, 195, 195);
    border-radius: .5rem;
}
.reset h1{
    margin-top: 4rem;
    margin-left: 7.5rem;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    background: linear-gradient( to right, #ff1060d7,#ffad06);
    color: rgba(0, 0, 0, 0.555);

    width: 22rem;
    height: 3.8rem;

    box-shadow: 0 0 2rem .9rem #ff61ffe1;
    border-radius: 3rem;
}

.button-box{
    width: 22rem;
    margin: 3.5rem auto;
    position: relative;
    box-shadow: 0 0 2rem .9rem #ff61ff;
    border-radius: 3rem;

}
.toggle-btn{
    padding: 1rem 3rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font: bold;


}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 11rem;
    height: 100%;
    background: linear-gradient( to right, #ff105f,#ffad06);
    border-radius: 3rem;
    transition: .5s;

}
.input-group{
    top: 15rem;
    position: absolute;
    width: 28rem;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 1rem 0;
    margin: .5rem 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .1rem solid #999 ;
    outline: none;
    background: transparent;
}

.eye{
    position: absolute;
    color: black;
    margin-top: .8rem;
    font-size: 1.5rem;
    margin-left: 25rem;
}

#hide2{
    display: none;
}
.password_content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn{
    width: 85%;
    padding: 1rem 3rem;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 3rem;
    background:  linear-gradient( to right, #ff105f,#ffad06);

}

#login{
    left: 5rem;
}

#register{
    left: 45rem;
}

.form-group{

    width: 100%;
    padding: 1rem 0;
    margin: .5rem 0;
    outline: none;
    background: transparent;

}

.form-group select{
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .1rem solid #999 ;
    outline: none;

    font: bold;
}

.forget{
    margin-left: 2.5rem;
    font-size: 1.5rem;
}

.forget p{

    color:black;
    font: bold;

}
.forget a{

    color: rgb(255, 129, 10);
    font: bold;

}
.forget a:hover{

    color: rgb(235, 8, 57);

}


/* log in and reguster page end */

/* package booking form page  start*/
.hero_bookform{

    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("picture/sea-beach.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;

}

.book_form{
    width: 38rem;
    height: 63rem;
    position: relative;
    margin: 5% auto;
    background:#fff;
    padding: .5px;
    overflow: hidden;

}
.book-group{
    top: 13rem;
    position: absolute;
    width: 28rem;
    transition: .5s;

}
#bookform{
    left: 5rem;
}
#form-close-booking_form{

    color:orangered;
    font-size: 2rem;
    padding-left: 35.5rem;
}
#form-close-booking_form:hover{

    color:rgb(0, 225, 255);

}
/* create package form page  start*/

.hero_create_packageform{

    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("picture/all.png");
    background-position: center;
    background-size: cover;
    position: absolute;

}

.create_package_form{
    width: 43rem;
    height: 85rem;
    position: relative;
    margin: 5% auto;
    background:#fff;
    padding: .5rem;
    overflow: hidden;
    box-shadow:.1rem .2rem .4rem .2rem rgb(199, 195, 195);
    border-radius: .5rem;
}
.create_package_form .reset {
    margin-left: 2.5rem ;
}

.create_package-group{
    top: 12rem;
    position: absolute;
    width: 32rem;
    transition: .5s;

}
#create_packageform{
    left: 5rem;
}

.createPk_img{
    display: inline-flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.createPk_img label{
    padding-top: 2.5rem;
    width: 150px;
    color: #ff7e06;

}

.createPk_img h5{
    font-size: 1.3rem;
    margin-top: 1.5rem;
    color: rgba(0, 0, 0, 0.521);
}
#userAdult{
    margin-left: 1rem;

}
.createPk_dayNight{
    display: inline-flex;
    gap: .5rem;
    margin-left: 1.5rem;
}

.createPk_dayNight label{
    padding-top: 2.5rem;
    font-size: 1.3rem;
    width: 3rem;
    color: rgba(0, 0, 0, 0.705);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.createPk_price{
    display: inline-flex;
    gap: 4.5rem;


}

.createPk_price label{
    padding-top: 2rem;
    font-size: 1.3rem;
    font: bold;
    color: rgba(0, 0, 0, 0.705);

}
/* bill page  start*/
.resetbill{
    margin-left: 5rem;
    margin-bottom: 5rem;
}
.resetbill h1{

    margin-top: 4rem;
    margin-left: 3.5rem;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    background: linear-gradient( to right, #ff1060d7,#ffad06);
    color: rgba(0, 0, 0, 0.555);

    width: 22rem;
    height: 3.8rem;

    box-shadow: 0 0 2rem .9rem #ff61ffe1;
    border-radius: 3rem;

}
.bill{

    display: inline-flex;
    gap: .5rem;
    margin-left: 7rem;
}
.bill label{
    width: 15rem;
    font-size: 1.5rem;
    color: orangered;


}
.bill h5{

    font-size: 1.5rem;
}
.paymentbutton{
    display: inline-flex;
    gap: 2rem;
    float: right;
    margin-right: 1rem;
    margin-top: 6rem;
}
#paymentbill{

    width: 8rem;
    height: 3.2rem;
    border-radius: 1.5rem;
    border:none;
    font-size: 1.5rem;
    background: green;
    margin-top: 2rem;
    margin-bottom: 1rem;

}



#cancelbill{
    width: 8rem;
    height: 3.2rem;
    border-radius: 1.5rem;
    border:none;
    font-size: 1.5rem;
    background: rgb(209, 8, 8);
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.book_form_bill{

    width: 38rem;
    height: 35rem;
    position: relative;
    margin: 5% auto;
    background:#fff;
    padding: .5px;
    overflow: hidden;

}
.hero_bookform_bill{

    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("picture/sea-beach.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;

}

/* about us page  start*/
.about img{

    width: 100%;
    height: 100%;

}
.about h1{
    margin-left: 60rem;
    margin-top: 6rem;
    font-size: 4rem;

}

.about p{
    margin-top: 2rem;
    font-size: 2rem;
    width: 130rem;
    padding-left: 8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10rem
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.body_team{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
}
.body_team::before{
    content: '';
    position: absolute;
    width: 100%;
    background: #FF676D;
    clip-path: inset(47% 0 0 0);
    z-index: -1;
    height: 100%;
}
::selection{
    background:	#FF676D;
    color: #fff;
}
.container_team{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
}
.container_team .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
}

.container_team h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;
}
#two:checked ~ .main-card{
    margin-left: -100%;
}
.container_team .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
}
.main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}
.main-card .cards .card:hover{
    transform: translateY(-15px);
}
.cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #FF676D;
    margin-bottom: 14px;
}
.card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
}
.card .content .name{
    font-size: 20px;
    font-weight: 500;
}
.card .content .job{
    font-size: 20px;
    color: #FF676D;
}
.card .content .media-icons{
    margin-top: 10px;
    display: flex;

}
.media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #FF676D;
    transition: all 0.3s ease;
}
.media-icons a:hover{
    color: #FF676D;
    background-color: #fff;
    border-color: #FF676D;
}
.container_team .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: black;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button label.active{
    width: 35px;
}
#one:checked ~ .button .one{
    width: 35px;
}
#one:checked ~ .button .two{
    width: 15px;
}
#two:checked ~ .button .one{
    width: 15px;
}
#two:checked ~ .button .two{
    width: 35px;
}
input[type="radio"]{
    display: none;
}
@media (max-width: 768px) {
    .main-card .cards .card{
        margin: 20px 0 10px 0;
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 600px) {
    .main-card .cards .card{
        /* margin: 20px 0 10px 0; */
        width: 100%;
    }
}


/* single package page  start*/
.hero_single_package{

    height:100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("picture/sea-beach.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;

}

.single_package_form{
    width: 68rem;
    height: 36rem;
    position: relative;
    margin: 5% auto;
    background:#fff;
    padding: 5px;
    overflow: hidden;
    box-shadow:.1rem .2rem .4rem .2rem rgb(199, 195, 195);
    border-radius: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.single_package_form p{

    padding-top: 2rem;
    padding-left: .5rem;
    color: rgba(0, 0, 0, 0.979);
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

.single_package_form button{

    margin-top: 1rem;
    margin-left: 55rem;
    background:  linear-gradient( to right, #ff105f,#ffad06);
    width: 10rem;
    height: 3.5rem;
    border-radius: 1.5rem;
    border: none;
    color: rgb(7, 3, 3);
    font: bold;
    font-size: 1.6rem;

}

.single_package_form button:hover {
    color: ivory;
}
.single_package_content{
    display: inline-flex;
}
.single_package_content .single_package_details{

    padding-left: 3rem;
    padding-top: 3rem;
}
.single_package_details h3{

    font-family:'Times New Roman', Times, serif;
    color: rgb(240, 89, 20);
    font-size: 2.5rem;
}
.single_package_details h6{

    font-family:'Times New Roman', Times, serif;
    color: rgb(240, 89, 20);
    font-size: 1.5rem;
}
.single_package_details h4{

    font-family:'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.856);
    font-size: 1.5rem;

}
#singlepage_location{


    color:black;
    padding-right: .5rem;

}


#form-close-single_page{

    color:orangered;
    font-size: 2rem;
    padding-left: 1.2rem;
}

#form-close-single_page:hover{
    color: rgb(11, 211, 247);

}


/* packages inside bangladesh */

.inpack h1{
    padding-left: 40rem;
    font-size: 7rem;
    color: rgb(250, 139, 12);
    font-style: italic;


}

.inpack h2{
    padding-left: 50rem;
    font-size: 6rem;
    color: rgb(250, 139, 12);
    font-style:italic;

}

/* packages outside bangladesh */



.outpack h1{
    padding-left: 40rem;
    font-size: 7rem;
    color: rgb(250, 139, 12);
    font-style: italic;
}

.outpack h2{
    font-size: 6rem;
    color: rgb(250, 139, 12);
    font-style:italic;

}


/* visa serice */

.visa{
    background:rgba(0,0,0,0.3)url("picture/visa.png");
    background-size: cover;
    background-blend-mode: darken;
    width:auto;
    height: 60rem;


}
.covervisa{
    background-image: url("picture/image\ 2.png");
    width:auto;
    height: 230rem;
}
.visabutton{
    display: inline-flex;
    margin-top: 8rem;
    gap: 8rem;
    margin-left: 15rem;



}
.visabutton button{
    background: linear-gradient( to right, #ff1060d7,#ffad06);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    border-radius: .5rem;
    width:20rem;
    height: 4.5rem;
    border: none;
}

.visa_documents{
    margin-top: 8rem;

    background: rgba(201, 201, 198, 0.37);


}
.visa_documents p{

    margin: 2rem;
    padding: 2rem;
    color: black;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.applyvisa{
    margin-top: 8rem;

}
.applyvisa button{
    background: linear-gradient( to right, #ff1060d7,#ffad06);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    border-radius: 3.5rem;
    border: none;
    width: 25rem;
    height: 5rem;
    margin-left: 55rem;
}
.countries h1{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 5rem;
    color:rgba(0, 0, 0, 0.767);
    font-size: 4rem;
}

.countries_content img{

    width: 30rem;
    height: 20rem;
    display: inline-flex;
    gap: 10rem;
    margin-left: 10rem;
}
.requirment h1{
    margin-top: 7rem;
    text-align: center;

    color:rgba(0, 0, 0, 0.767);
    font-size: 4rem;

}



/* packages book form pages */
.bookformbody{

    background: rgba(0, 0, 0, 0.2);


}
.book-form-container{


    background:white;

    height: auto;
    width: 65rem;
    color: black;
    margin-left: 35rem;
    margin-top: 5rem;
    border-radius: .7rem;

}
.book-form-container h3{

    margin-left: 22rem;
    font-size: 3rem;
    color: orange;
}
.book-group span{

    padding-left: 3rem;
}

.book-form-container span{

    padding-left: 4rem;
    font-size: 2rem;
}

.book-form-container #form-close{

    margin-left: 63rem;
}

.book-form-container #form-close:hover{

    color:#23dbdb;
}

.book-form-container .bookbox1{

    margin-left: 5.5rem;
    height: 2.5rem;
    width: 30rem;
    border-radius: .3rem;
}
.book-form-container .bookbox2{

    margin-left: 5.5rem;
    height: 2.5rem;
    width: 30rem;
    border-radius:.3rem;
}
.book-form-container .bookbox3{

    margin-left: 2.5rem;
    height: 2.5rem;
    width: 30rem;
    border-radius:.3rem;
}
.book-form-container .bookbox4{

    margin-left: 3rem;
    height: 2.5rem;
    width: 30rem;
    border-radius:.3rem;
}
.book-form-container .bookbox5{

    margin-left: 1.5rem;
    height: 2.5rem;
    width: 30rem;
    border-radius: .3rem;
}
.book-form-container .bookbox6{

    margin-left: 4.5rem;
    height: 2.5rem;
    width: 30rem;
    border-radius:.3rem;
}

.book-form-container .bookbox7{

    margin-left: 7rem;
    height: 2.5rem;
    width: 30rem;
    border-radius:.3rem;
}

.book-form-container .booksubmitbtn{

    margin-left: 30rem;
    width: 20rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: orange;
    font-size: 2rem;
}

/* Card packages and overlay start for inside packages */
.card_line{
    width: 136rem;
    min-height: 38rem;
    margin: 7rem auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card_line .card_container{
    position: relative;
    width: 30rem;
    height: 20rem;
    display: inline-block;
    border-radius: 1rem;
    box-shadow: .1rem .2rem .4rem .4rem rgb(170, 165, 165);
    margin-left: 3rem;
    margin-bottom: 3rem;

}


.card_image {
    display: block;
    width: 30rem;
    height: 20rem;
    overflow: hidden;
    border-radius:.5rem;

}

.card_overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    width: 30rem;
    height:0;
    transition: .5s ease;
    border-radius: .5rem;
}

.card_container:hover .card_overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text p{
    font-size: 1.5rem;
}
.text a{
    font-size: 2rem;
    color: rgb(246, 250, 35);
}
/* Card packages and overlay  end for inside packages */

/* Card packages and overlay  start for outside packages */

.outside_card_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0db3eb49;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.outside_card_overlay .text a {
    font-size: 2rem;
    color: rgb(253, 10, 10);
    font: bold;

}
.card_container:hover .outside_card_overlay {
    height: 100%;
}

/* Card packages and overlay  end for outside packages */

.title h1 {
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 12rem;
    color: #14addc;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 3rem;
}

/* footer home page */


*, *:before, *:after {
    box-sizing: border-box;
}



.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 5rem;
    color: #fff;

    background: linear-gradient( to right, #4e192a,#053286);
}

.footer > * {
    flex:  1 100%;
}

.l-footer {
    margin-right: 1.25rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 3rem;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem;

}

.r-footer > * {
    flex: 1 50%;
    margin-right: 1.25rem;
}

.box a {
    color: #999;

}

.h-box {
    column-count: 2;
    column-gap: 1.25rem;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 5rem;
    font-size: 1.5rem;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

@media screen and (min-width: 600px) {
    .r-footer > * {
        flex: 1;
    }

    .features {
        flex-grow: 2;
    }

    .l-footer {
        flex: 1 0rem;
    }

    .r-footer {
        flex: 2 0rem;
    }
}



/* beauty pic home page */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rotated_pic {
    height: 100vh;
    padding-top: 8rem;

}
.rotated_pic h1 {
    text-align: center;
    padding-bottom: 6.5rem;
    color: #14addc;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 3rem;
}
.gallery {
    width: 100rem;
    margin: 0 auto;

    position: relative;
}

.gallery__photo {
    width: 25rem;
    height: 25rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;

    position: absolute;
    transition: all 0.2s;
    z-index: 10;
    outline-offset: 2rem;
}

.gallery__photo--p1 {
    top: 0;
    left: 0;
}

.gallery__photo--p2 {
    top: 0;
    right: 0;
    z-index: 1;
}

.gallery__photo--p3 {
    top: 4rem;
    left: 20%;
}

.gallery__photo--p4 {
    top: 6rem;
    left: 40%;
}

.gallery__photo--p5 {
    top: 4rem;
    left: 60%;
    z-index: 2;
}

.gallery__photo:hover {
    outline: 1.5rem solid #14addc;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    transform: scale(1.05) translateY(-20px);
    z-index: 20;
}
.gallery:hover .gallery__photo:not(:hover) {
    transform: scale(0.9);
}


@media screen and (max-width: 998px) {

    html{
        font-size: 50%;
    }

}

@media screen and (max-width: 778px) {
    html{
        font-size: 40%;
    }

}

@media screen and (max-width: 400px) {
    html{
        font-size: 20%;
    }

}
